@import "./env";
@import "./fonts";

@import "foundation_settings";
@import "foundation";

@import "./architecture";
@import "./typography";

span.time {
  color: #bbb;
}

.titlelike {
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  @extend .titlelike;
}

h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.8rem; }
