
.wrap {
  display:                 block;
  position:                relative;

  aside {
    position:              absolute;
    text-align:            right;
    width:                 $aside-width;
  }

  .tail {
    left:                  $aside-width + $cs + $primary-width + $cs + $cs + (2 * $sub-padding);
    position:              absolute;
    top:                   0;
  }

  .module {
    margin-left:           $aside-width + $aside-padding;
    padding-left:          $sub-padding;
    width:                 $primary-width;

    &.collapse {
      padding-left:        0;
    }

  }
}

#main-region {
  display:                 block;
  margin-left:             $cs;
  overflow:                auto;
}

hr.divider {
    background:            $silver;
    border:                0;
    height:                1px;
    margin:                $cs 0 $cs ($aside-width + $aside-padding);
    width:                 $primary-width;
}

.task,
.manager,
.note,
.new-todo {
  @extend %row-element;
  @extend %destroyable;
}
