$sans-serif:   'Source Sans Pro', Helvetica, Arial, sans-serif;
$serif:        'Merriweather', Georgia, Cambria, "Times New Roman", Times, serif;
$monospace:    Consolas, "Liberation Mono", Courier, monospace;

$core-spacing:  1.8rem;
$content-width: 32rem; // keep in mind this is really supposed to be

/* ------------------------ COLORS -------------------------------------------*/

$green:   #00A14B;
$blue:    #27AAE1;
$red:     #ED1C24;
$purple:  #7F3F98;
$yellow:  #FFDE17;

/* --------------------------- ALIASES BELOW ---------------------------------*/

$cs:   $core-spacing;

/* ---------------------------------------------------------------------------*/
