@import "./env";
@import "./reset";
@import "./fonts";

@import "./architecture";
@import "./typography";

.mock-image {
  height: 180px;
  width:  180px;
  background-color: rgba(darken($green, 10%), 0.2);
  border: darken($green, 10%) 3px dashed;
  margin-bottom: $cs;
}

.r-mock-image {
  @extend .mock-image;

  float: right;
  margin-left: $cs;
};

.l-mock-image {
  @extend .mock-image;

  float: left;
  margin-right: $cs;
};

@media #{$medium-up} {
  $offset-factor: 1;

  .r-mock-image {
    position: relative;
    right: $cs * -1 * $offset-factor;
    margin-left: $cs + ($cs * -1 * $offset-factor);
  }

  .l-mock-image {
    position: relative;
    float: static;
    left: $cs * -1 * $offset-factor;
    margin-right: $cs + ($cs * -1 * $offset-factor);
  }
}
