@import "env";

$yellow:                      #FFFFF0;
$yellow-darker:               darken($yellow, 5%);

$line-height:                 1.5em;

body {
  font-family:                $monospace;
  font-size:                  $font-size-base;
  line-height:                $line-height;
}

a {
  color:                      #999;
  cursor:                     pointer;
  text-decoration:            underline;
}

h2 {
  font-size:                  1.4em;
  font-weight:                bolder;
  margin:                     $cs 0;
  text-transform:             uppercase;
}
ol {
  list-style-type:            decimal;
}

// ---------------------------------- FORMS --------------------------------- //

%manager-text-input {
  min-height:                 3rem;
}

%text-input {
  border-bottom:              1px dashed #ccc;
  border-left:                1px dashed #ccc;
  border:                     none;
  box-sizing:                 border-box;
  font-family:                $monospace;
  font-size:                  inherit;
  line-height:                inherit;
  padding:                    0.5rem;
  width:                      100%;

  &:focus {
    background-color:         $yellow-darker;
    outline:                  none;
  }

  &.inline {
    padding:                  0rem;
  }
}

.manager {
  .message,
  .messageIn {
    @extend %text-input;
    @extend %manager-text-input;
  }
}

input[type="text"], textarea {
  @extend  %text-input;
  @include placeholder {
    color: #ddc;
  }

  background-color:           $yellow;
}
