!!! 5
%html{lang: "en", class: "no-js"}
  %head
    %meta{charset: "utf-8"}
    %title Todos
    %meta{content: "", name: "description"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "/favicon.ico", rel: "shortcut icon"}
    %link{href: "/apple-touch-icon.png", rel: "apple-touch-icon"}

    / build:css assets/app.css
    %link{href: "/styles/app.css", rel: "stylesheet"}
    / endbuild

  %body
    #canvas-wrap
      %section#main-region

    / build:js assets/app.js
    %script{src: "/bower_components/jquery/dist/jquery.min.js" }
    %script{src: "/bower_components/fastclick/lib/fastclick.js" }
    -# %script{src: "/bower_components/foundation-sites/dist/foundation.js" }
    -# %script{src: "/bower_components/moment/moment.js"}

    %script{src: "scripts/env.js"}
    / endbuild
